/* Allgemeine Stile */
body {
    background-color: black;
    color: white;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/* Header */
header {
    text-align: center;
    padding: 20px;
    background-color: #000;
}

.banner-img {
    width: 50%;
    height: auto;
    margin: 0 auto; /* Zentriert das Bild */
    display: block;
}

.jurassic-title {
    font-family: 'Jurassic Park', sans-serif;
    font-size: 5rem; /* Schriftgröße kann angepasst werden */
    color: white;
    letter-spacing: 0.2em;
    font-weight: 300;
    text-align: center; /* Textzentrierung */
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    background-color: black;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color: #ffcc00;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: bold;
}

/* Introduction Section */
.intro {
    text-align: center;
    padding: 40px;
}

.welcome-img {
    width: 200px;
    margin-bottom: 20px;
}

.intro-text {
    max-width: 800px;
    margin: 0 auto; /* Zentriert den Text */
    line-height: 1.6;
    text-align: center; /* Text mittig ausgerichtet */
    font-size: 1.2rem;
}

/* Announcement Section */
.announcement {
    text-align: center;
    padding: 40px;
}

.announcement-title {
    font-family: 'Jurassic Park', sans-serif; /* Jurassic Park Schrift */
    font-size: 2.5rem;
    margin-bottom: 2px;
    color: #ffcc00;
}

.announcement-content {
    display: flex;
    justify-content: center;
    align-items: center; /* Elemente in der Mitte zentrieren */
    gap: 20px;
}

.movie-img {
    width: 300px;
    height: auto;
}

.announcement-text {
    max-width: 600px;
    text-align: right; /* Text rechtsbündig */
    line-height: 1.6;
}

/* Gallery Section */
.gallery-section {
    padding: 40px;
    text-align: center;
}

.gallery {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.gallery a {
    text-decoration: none;
}

.gallery-img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0 8px 16px rgba(255, 255, 255, 0.2);
}

.gallery-img:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(255, 255, 255, 0.4);
}

/* Footer */
footer {
    background-color: #111;
    color: #ffcc00;
    text-align: center;
    padding: 20px;
}

footer a {
    color: #ffcc00;
    text-decoration: none;
    margin: 0 10px;
}
